div {
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

div#character-statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 700px;
    padding: 50px;
    border: 1px black solid;
    position: relative;
    /* Make it a positioning context */
}

div#main-health {
    z-index: 3;
    position: absolute;
    /* Position relative to the parent container */
    bottom: 0;
    /* Align to the bottom */
    left: 0;
    /* Align to the left */
    margin: 0;
    /* Remove any default margin */
    padding: 10px;
    /* Optional: Add padding for spacing */
    font-size: 20px;
    color: red;
    font-weight: bold;
    border: .01px solid black;
    border-radius: 0px 0px 0px 9px;
    /* Rounded corners */
}

div#enemy-health {
    z-index: 3;
    position: absolute;
    /* Position relative to the parent container */
    top: 0;
    /* Align to the bottom */
    right: 0;
    /* Align to the left */
    margin: 30px 10px;
    /* Remove any default margin */
    padding: 10px;
    /* Optional: Add padding for spacing */
    font-size: 20px;
    color: red;
    font-weight: bold;
    border-radius: 3px;
    /* Rounded corners */
    font-family: "Pixelify Sans", sans-serif;
}

div#main-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1375px;
    height: 530px;
    padding: 50px;
    bottom: 70px;
    border: 1px black solid;
    position: relative;
    /* Add this to make it a positioning context */
    font-family: "Pixelify Sans", sans-serif;
}

div#CharacterAbilitySelection {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* Position relative to the parent */
    bottom: 0;
    /* Align to the bottom of the parent */
    left: 0;
    /* Align to the left of the parent */
    width: 700px;
    /* Set a width for the selection box */
    height: 100px;
    /* Set a height for the selection box */
    font-family: "Pixelify Sans", sans-serif;
}

div#Character-Dialogue {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* Position relative to the parent */
    bottom: 0;
    /* Align to the bottom of the parent */
    right: 0;
    /* Align to the right of the parent */
    width: 700px;
    /* Set a width for the selection box */
    height: 100px;
    /* Set a height for the selection box */
    font-family: "Pixelify Sans", sans-serif;
}


.pixelify-sans-font {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
}