<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BTmon RPG - Information Table</title>
    <meta name="description" content="A simple game for Hackathon 2025.">
    <meta name="keywords" content="CSS, JavaScript, game, hackathon">
    <meta name="author" content="Angadveer, Nickolas, Presly, and William">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="game.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Underdog&display=swap" rel="stylesheet">
</head>

<body>

    <div id="start-screen">
        <h1>BTmon RPG</h1>
        <ul>
            <li>There are a total of 2 chezburgers; which heal you to full</li>
            <li>There are a total of 7 apples; the apples heal you for 10HP</li>
            <li>There are a total of 4 monster until the final boss battle</li>
            <li>There is a chance for critical hits and missed hits</li>
            <li>Damage is scaled from your attack power and the enemies defense statisics</li>
        </ul>
        <a id="start-button" href="../Start/index.html">Return to main menu</a>
    </div>

    <!-- Randomly placed images -->
    <img src="/Layout/The Game/Sprites/Pyro_Slime.png" alt="Pyro Slime" class="sprite sprite-top-left">
    <img src="/Layout/The Game/Sprites/HydroEle.png" alt="Hydro Slime" class="sprite sprite-top-right">
    <img src="/Layout/The Game/Sprites/ElecStick.png" alt="Electro Slime" class="sprite sprite-bottom-left">
    <img src="/Layout/The Game/Sprites/Rouge.png" alt="Geo Slime" class="sprite sprite-bottom-right">

    <script>
        // Redirect to the game page when the start button is clicked
        document.getElementById("start-button").addEventListener("click", () => {
            window.location.href = "/Layout/The Game/game.html"; // Update the path if necessary
        });
    </script>
    <script src="/Layout/Start/index.html"></script>
</body>

</html>